server:
  port: 8085

spring:
  application:
    name: pool-service
  datasource:
    url: jdbc:postgresql://localhost:5444/nuvo_pool_db
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect