server:
  port: 8082

spring:
  application:
    name: account-service
  datasource:
    # Base de datos DIFERENTE: nuvo_account_db
    url: jdbc:postgresql://localhost:5444/nuvo_account_db
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect